@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'f1';
  src: url('../fonts/two.woff2');
}

/* input:focus-visible {
  outline: none;
  border-radius: none;
} */
